<section class="about-area-eight pb-100" style="background: #140e26;">
    <div class="container">
    </div>
</section>

<section class="project-details-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="project-details-wrap">
                    <div class="row">
                        <div class="col-lg-12">
                                <swiper-container appSwiper #aboutSwiperOne [config]="aboutSwiperOneConfig" class="swiper-slider" slides-per-view="1" speed="2000" loop="true"
                                    effect="slide" space-between="30" autoplay="true" rtl="true">
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc2.jpg" alt="">
                                    </swiper-slider>
                                    <!-- <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc1.jpg" alt="">
                                    </swiper-slider> -->
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc3.jpg" alt="">
                                    </swiper-slider>
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc4.jpg" alt="">
                                    </swiper-slider>
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc5.jpg" alt="">
                                    </swiper-slider>
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc6.jpg" alt="">
                                    </swiper-slider>
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc7.jpg" alt="">
                                    </swiper-slider>
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc8.jpg" alt="">
                                    </swiper-slider>
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc9.jpg" alt="">
                                    </swiper-slider>
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc10.jpg" alt="">
                                    </swiper-slider>
                                    <swiper-slider class="project-details-thumb swiper-slide">
                                        <img src="assets/img/about/gc11.jpg" alt="">
                                    </swiper-slider>
                                </swiper-container>
                        </div>
                        <!-- <div class="col-29">
                            <div class="project-details-info">

                            </div>
                        </div> -->
                    </div> 
                    <div class="project-details-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="title">Blessings,</h2>
                                <p class="text-justify">I am Prophet Givens Chizenga, and I'm delighted that you've
                                    joined me here today. I am a Minister of the Word of God, and my unwavering
                                    passion lies in sharing the unlimited power of Christ Jesus. With a profound
                                    Prophetic mantle
                                    upon my life, I strive to illuminate the path of righteousness for believers
                                    worldwide. On this website, you will find enlightening teachings, experience the
                                    transformative power
                                    of the
                                    Gospel, and be inspired in your faith journey. <br>
                                    <!-- Let's embark on a path of spiritual growth
                                    together as we embrace the truth and witness the miraculous work of God in our
                                    lives. Thank
                                    you
                                    for joining me on this fulfilling adventure. -->
                                </p>
                                <p> Born and raised in the vibrant city of Chitungwiza, Zimbabwe, my spiritual journey
                                    began at
                                    a
                                    remarkably early age when I received a divine calling to be a worker of the Kingdom
                                    of
                                    Heaven.
                                    This calling ignited a deep passion within me to spread the Gospel and bring hope,
                                    healing,
                                    and
                                    salvation to the lives of people around me. </p>
                                <div class="blog-details-content col-41">
                                    <blockquote>
                                        <p>“ Cheer up Believer. The Word Works! ”</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <div class="about-img-eight">
                                    <img src="assets/img/images/prophet-givens-inner-about.jpg" width="400"
                                        alt="Prophet Givens Chizenga">
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 col-md-9 order-0 order-lg-2">
                                <div class="about-img-two">
                                    <div class="main-img">
                                        <img src="assets/img/images/about_img02.jpg" alt="">
                                    </div>
                                    <img src="assets/img/images/about_img03.jpg" alt="">
                                </div>
                            </div> -->
                        </div>


                        <div class="pd-inner-wrap">
                            <div class="row align-items-center">
                                <div class="col-41">
                                    <div class="content">
                                        <p class="info-two text-justify">
                                            In 2016, I embraced another significant
                                            milestone in
                                            my life as I joined in holy matrimony with my beloved wife, Yollunda
                                            Chizenga.
                                            Together, we embarked on an adventure of love, faith, and shared purpose.
                                            Following our marriage, Yollunda and I relocated to the city of Cape Town,
                                            South
                                            Africa, where I dedicated myself to the relentless ministry of preaching the
                                            Gospel. Fueled by
                                            an unquenchable hunger to guide my generation towards a deeper relationship
                                            with God, I
                                            witnessed the transformative power of faith and the impact it had on
                                            people's lives. Inspired by
                                            these experiences, I realized that God was calling me to establish a
                                            Ministry that would serve
                                            as a beacon of light and hope for individuals seeking spiritual guidance.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-59">
                                    <div class="thumb">
                                        <img src="../../../assets/img/project/babanaamai.jpg" alt="">

                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-6 col-md-6">
                                    <div class="project-item-four">
                                        <div class="project-thumb-four"><img
                                                src="assets/img/project/h5_project_img01.jpg" alt="">
                                            <div class="project-link"><a href="#"><img
                                                        src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="project-item-four">
                                        <div class="project-thumb-four"><img
                                                src="assets/img/project/h5_project_img02.jpg" alt="">
                                            <div class="project-link"><a href="#"><img
                                                        src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="pd-optimized-wrap">
                            <h3 class="title-two">Gathering Of Believers International Church</h3>
                            <p class="text-justify"> In February 2018, Gathering Of Believers Int Ministry was born,
                                with Cape Town as its humble
                                foundation. Led by my vision of soul-winning, preaching the Gospel to all nations, and
                                restoring
                                hope to God's people, the Ministry began its journey. Through dynamic worship services,
                                impactful conferences, and various outreach programs, Gathering Of Believers Int
                                Ministry
                                strives to equip believers with the tools they need to walk in victory and fulfill their
                                God-given destinies.
                                <br>
                            </p>
                            <p class="text-justify"> With a deep understanding of the Word of God and a profound
                                Prophetic anointing, I am committed
                                to bringing hope, healing, and transformation to individuals seeking a closer
                                relationship with
                                God. Through my ministry, I aim to make the Word of God accessible and applicable to
                                everyday
                                life, helping believers overcome challenges and experience the abundant life that God
                                desires
                                for them.
                            </p>
                        </div>

                        <div class="row justify-content-center">

                            <div class="col-lg-4 col-md-6">
                                <div class="project-item-four">
                                    <div class="project-thumb-four">
                                        <img src="assets/img/project/h5_project_img03.jpg" alt="">
                                        <div class="project-link"><a href="#"><img src="assets/img/icons/plus_icon.svg"
                                                    alt=""></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-item-four">
                                    <div class="project-thumb-four"><img src="assets/img/project/h5_project_img04.jpg"
                                            alt="">
                                        <div class="project-link"><a href="#"><img src="assets/img/icons/plus_icon.svg"
                                                    alt=""></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-item-four">
                                    <div class="project-thumb-four"><img src="assets/img/project/h5_project_img05.jpg"
                                            alt="">
                                        <div class="project-link"><a href="#"><img src="assets/img/icons/plus_icon.svg"
                                                    alt=""></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
