<section class="about-area-eight pb-100" style="background: #140e26;">
    <div class="container"></div>
</section>


<section class="services-details-area pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="services-details-wrap">
                    <div class="services-details-thumb">
                        <img src="assets/img/images/gon-congregation.jpg" alt="">
                    </div>
                    <!-- <div class="services-details-content">
                        <h2 class="title">Gathering of Believers International</h2>
                        <p>Gathering Of Believers International Ministry, under the visionary leadership of Prophet
                            Givens Chizenga, is a dynamic and thriving ministry that relentlessly pursues its mission to
                            bring God's light to the world. Anchored in the foundational principles of soul winning,
                            preaching the Gospel, and restoring hope to God's people, this ministry has become a
                            powerful force of transformation and spiritual revival.</p>

                  

                        <div class="sd-inner-wrap sd-inner-wrap-three">
                            <div class="row align-items-center">
                                <div class="col-43">
                                    <div class="services-details-list-two">

                                        <div class="content mb-3">
                                            <img src="assets/img/project/h5_project_img02.jpg" alt="">
                                        </div>

                                        <div class="content">
                                            <img src="assets/img/project/h5_project_img01.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-57">
                                    <div class="content">
                                        <h3 class="title-two">Unwavering Commitment during the Pandemic
                                        </h3>
                                        <p>
                                            In the face of unprecedented challenges brought about by the Covid-19
                                            pandemic in 2019,
                                            Gathering Of Believers Int Ministry did not waver in its commitment to
                                            advancing the Kingdom
                                            of God. Despite restrictions on gatherings and lockdown measures, Prophet
                                            Givens Chizenga's
                                            unwavering dedication led him to personally visit families, going from home
                                            to home to
                                            encourage, pray for, and minister healing to the sick. With an unwavering
                                            faith in the power
                                            of God, he travelled great distances to reach every family and every
                                            individual, bringing
                                            hope and restoration in a time of great uncertainty.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="title-two">Expanding Horizons</h2>
                        <p>
                            As the years passed, Gathering Of Believers Int Ministry experienced exponential growth and
                            expansion. In the year 2023, guided by the leading of the Holy Spirit, Prophet Givens
                            Chizenga made the decision to return to his home country of Zimbabwe. The Prophet's
                            homecoming was a resounding success, and in August 2023, Gathering of Believers Zimbabwe
                            Branch was established in Harare, specifically in the Seke Chitungwiza area.
                        </p>

                        <p>
                            Since its inception, the Zimbabwe branch has experienced remarkable growth, welcoming new
                            members with open arms each service. As a testament to their commitment to the spiritual
                            well-being of individuals, Gathering of Believers Zimbabwe Branch extends an open invitation
                            to all to come and worship, experience the presence of God, and partake in the
                            transformative power of His Word.
                        </p>


                        <div class="industrial-working-wrap">
                            <h2 class="title-two">Quality Industrial Working</h2>
                            <p class="info-one">When an unknown printer took a galley of type and scrambled it to make a
                                type specimen bookhas a not only five centuries, but also the leap into electronic
                                typesetting, remaining essentially unchan galley of type and scrambled it to make a type
                                specimen book.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/img/services/sd_working_img01.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/img/services/sd_working_img02.jpg" alt="">
                                </div>
                            </div>
                            <p class="info-two">When an unknown printer took a galley of type and scrambled it to make a
                                type specimen bookhas a not only five centuries, but also the leap into electronic
                                typesetting, remaining essentially unchan galley of type and scrambled it to make a type
                                specimen book.</p>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4">
                <aside class="services-sidebar">

                    <div class="services-widget">
                        <h4 class="sw-title">Church Services</h4>
                        <div class="services-brochure-wrap">
                            <div class="services-details-list-two">
                                <ul class="list-wrap">
                                    <li>
                                        <div class="content">
                                            <h5 class="title">Sunday Service</h5>
                                            <p><b>10 AM - 1 PM</b></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="content">
                                            <h5 class="title">Tuesday Service</h5>
                                            <p><strong>5:30 PM - 8PM</strong></p>
                                        </div>
                                    </li>
                                </ul>
                            </div> <br>
                            <p>Shop 3B Socialite Gardens, Makoni, Chitungwiza (Behind VID)</p>
                        </div>
                    </div>
                    <!-- <div class="services-widget services-sidebar-contact">
                        <h4 class="title">If You Need Any Help Contact With Us</h4>
                        <a href="tel:0123456789"><i class="flaticon-phone-call"></i> +91 705 2101 786</a>
                    </div> -->
                    <!-- <div class="services-widget">
                        <h4 class="sw-title">Get a Free Quote</h4>
                        <div class="services-widget-form">
                            <form action="#">
                                <div class="form-grp">
                                    <input type="text" placeholder="Your Name">
                                </div>
                                <div class="form-grp">
                                    <input type="email" placeholder="E-mail Address">
                                </div>
                                <div class="form-grp">
                                    <textarea name="message" placeholder="Type Your Message"></textarea>
                                </div>
                                <button type="submit" class="submit-btn">Send Message</button>
                            </form>
                        </div>
                    </div> -->
                </aside>
            </div>

        </div>

        <div class="justtify-content-center">
            <div class="services-details-wrap">
                <div class="services-details-content">
                    <h2 class="title">Gathering of Believers International</h2>
                    <p>Gathering Of Believers International Ministry, under the visionary leadership of Prophet
                        Givens Chizenga, is a dynamic and thriving ministry that relentlessly pursues its mission to
                        bring God's light to the world. Anchored in the foundational principles of soul winning,
                        preaching the Gospel, and restoring hope to God's people, this ministry has become a
                        powerful force of transformation and spiritual revival.</p>

                    <!-- <h3 class="title-two">Unwavering Commitment during the Pandemic</h3>
            <p>
                In the face of unprecedented challenges brought about by the Covid-19 pandemic in 2019,
                Gathering Of Believers Int Ministry did not waver in its commitment to advancing the Kingdom
                of God. Despite restrictions on gatherings and lockdown measures, Prophet Givens Chizenga's
                unwavering dedication led him to personally visit families, going from home to home to
                encourage, pray for, and minister healing to the sick. With an unwavering faith in the power
                of God, he travelled great distances to reach every family and every individual, bringing
                hope and restoration in a time of great uncertainty.
            </p> -->

                    <h2 class="title-two">Humble beginnings</h2>
                    <p>
                        In February 2018, Gathering Of Believers Int Ministry was born, with Cape Town as its humble
                        foundation. Led by my vision of soul-winning, preaching the Gospel to all nations, and restoring
                        hope to God's people, the Ministry began its journey. Through dynamic worship services,
                        impactful conferences, and various outreach programs, Gathering Of Believers Int Ministry
                        strives to equip believers with the tools they need to walk in victory and fulfill their
                        God-given destinies.
                    </p>


                    <div class="sd-inner-wrap sd-inner-wrap-three">
                        <div class="row align-items-center">
                            <div class="col-43">
                                <div class="industrial-working-wrap">

                                    <div class="content mb-3">
                                        <img src="assets/img/project/h5_project_img02.jpg" alt="">
                                    </div>

                                    <!-- <div class="content">
                                <img src="assets/img/project/h5_project_img01.jpg" alt="">
                            </div> -->
                                </div>
                            </div>
                            <div class="col-57">
                                <div class="content">
                                    <h3 class="title-two">Unwavering Commitment during the Pandemic
                                    </h3>
                                    <p>
                                        In the face of unprecedented challenges brought about by the Covid-19
                                        pandemic in 2019,
                                        Gathering Of Believers Int Ministry did not waver in its commitment to
                                        advancing the Kingdom
                                        of God. Despite restrictions on gatherings and lockdown measures, Prophet
                                        Givens Chizenga's
                                        unwavering dedication led him to personally visit families, going from home
                                        to home to
                                        encourage, pray for, and minister healing to the sick. With an unwavering
                                        faith in the power
                                        of God, he travelled great distances to reach every family and every
                                        individual, bringing
                                        hope and restoration in a time of great uncertainty.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="title-two">Expanding Horizons</h2>
                    <p>
                        As the years passed, Gathering Of Believers Int Ministry experienced exponential growth and
                        expansion. In the year 2023, guided by the leading of the Holy Spirit, Prophet Givens
                        Chizenga made the decision to return to his home country of Zimbabwe. The Prophet's
                        homecoming was a resounding success, and in August 2023, Gathering of Believers Zimbabwe
                        Branch was established in Harare, specifically in the Seke Chitungwiza area.
                    </p>

                    <p>
                        Since its inception, the Zimbabwe branch has experienced remarkable growth, welcoming new
                        members with open arms each service. As a testament to their commitment to the spiritual
                        well-being of individuals, Gathering of Believers Zimbabwe Branch extends an open invitation
                        to all to come and worship, experience the presence of God, and partake in the
                        transformative power of His Word.
                    </p>


                    <!-- <div class="industrial-working-wrap">
                <h2 class="title-two">Quality Industrial Working</h2>
                <p class="info-one">When an unknown printer took a galley of type and scrambled it to make a
                    type specimen bookhas a not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchan galley of type and scrambled it to make a type
                    specimen book.</p>
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/img/services/sd_working_img01.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="assets/img/services/sd_working_img02.jpg" alt="">
                    </div>
                </div>
                <p class="info-two">When an unknown printer took a galley of type and scrambled it to make a
                    type specimen bookhas a not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchan galley of type and scrambled it to make a type
                    specimen book.</p>
            </div> -->
                </div>
            </div>
        </div>

        <div class="industrial-working-wrap mt-4">
            <!-- <h2 class="title-two">Quality Industrial Working</h2>
            <p class="info-one">When an unknown printer took a galley of type and scrambled it to make a
                type specimen bookhas a not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchan galley of type and scrambled it to make a type
                specimen book.</p> -->
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/project/h5_project_img02.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <img src="assets/img/project/h5_project_img01.jpg" alt="">
                </div>
            </div>
            <!-- <p class="info-two">When an unknown printer took a galley of type and scrambled it to make a
                type specimen bookhas a not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchan galley of type and scrambled it to make a type
                specimen book.</p> -->
        </div>
    </div>
</section>


<!-- <section class="about-area about-bg" style="background: #f9f9fa;">
    <div class="container">
        <div class="row align-items-center">
            <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                <h2 class="title tg-element-title" style="color: #140e26;">Our Ministry</h2>
            </div>
            <div class="col-lg-9">
                <div class="about-content">
                    <p class="text-justify">
                        I am the founder and president of Gathering Of Believers Int Ministry. This ministry is not just
                        an organization, but a passionate pursuit of God's kingdom on earth. It is a calling that has
                        been placed upon my heart to gather believers from all walks of life, united in their faith and
                        dedication to the Gospel.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container pt-60">
        <div class="row align-items-cente justify-content-center">
            <div class="col-lg-6">
                <div class="about-content-eight">
                    <div class="section-title-two mb-30">
                    </div>

                    <div class="about-content-inner">
                        <p>Gathering Of Believers International Ministry, under the visionary leadership of Prophet
                            Givens
                            Chizenga, is a dynamic and thriving ministry that relentlessly pursues its mission to bring
                            God's light to the world. Anchored in the foundational principles of soul winning, preaching
                            the Gospel, and restoring hope to God's people, this ministry has become a powerful force of
                            transformation and spiritual revival.</p>

                        <p>In the face of unprecedented challenges brought about by the Covid-19 pandemic in 2019,
                            Gathering Of Believers Int Ministry did not waver in its commitment to advancing the Kingdom
                            of God. Despite restrictions on gatherings and lockdown measures, Prophet Givens Chizenga's
                            unwavering dedication led him to personally visit families, going from home to home to
                            encourage, pray for, and minister healing to the sick. With an unwavering faith in the power
                            of God, he travelled great distances to reach every family and every individual, bringing
                            hope and restoration in a time of great uncertainty.</p>


                        <p>As the years passed, Gathering Of Believers Int Ministry experienced exponential growth and
                            expansion. In the year 2023, guided by the leading of the Holy Spirit, Prophet Givens
                            Chizenga made the decision to return to his home country of Zimbabwe. The Prophet's
                            homecoming was a resounding success, and in August 2023, Gathering of Believers Zimbabwe
                            Branch was established in Harare, specifically in the Seke Chitungwiza area. </p>

                        <p> Since its
                            inception, the Zimbabwe branch has experienced remarkable growth, welcoming new members with
                            open arms each service. As a testament to their commitment to the spiritual well-being of
                            individuals, Gathering of Believers Zimbabwe Branch extends an open invitation to all to
                            come and worship, experience the presence of God, and partake in the transformative power of
                            His Word.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-flex">
                <div class="about-ministry">
                    <img src="assets/img/project/h5_project_img01.jpg" alt="">
                    <br>
                    <img src="assets/img/project/h5_project_img01.jpg" alt="">
                    <img src="assets/img/project/h5_project_img01.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-160">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img01.jpg" alt="">
                        <div class="project-link">
                            <a href="#">
                                <img src="assets/img/icons/plus_icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img02.jpg" alt="">
                        <div class="project-link"><a href="#">
                                <img src="assets/img/icons/plus_icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->