<section class="about-area-eight pb-100" style="background: #140e26;">
    <div class="container"></div>
</section>


<section class="services-details-area pt-120 pb-100">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-8">
                <div class="services-details-wrap">
                    <div class="services-details-thumb">
                        <img src="assets/img/images/gon-congregation.jpg" alt="">
                    </div>
           
                </div>
            </div>
            <div class="col-md-4">
                <aside class="services-sidebar">
                    <div class="services-widget">
                        <!-- <h4 class="sw-title">Church Services</h4> -->
                        <div class="services-brochure-wrap">
                            <div class="services-details-list-two">
                                <ul class="list-wrap">
                                    <li>
                                        <div class="content">
                                            <h5 class="title">Sunday Service</h5>
                                            <hr>
                                            <p><b>10 AM - 1 PM</b></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="content">
                                            <h5 class="title">Tuesday Service</h5>
                                            <hr>
                                            <p><strong>5:30 PM - 8PM</strong></p>
                                        </div>
                                    </li>
                                </ul>
                            </div> <br>
                            <h6 class="title"> Shop 3B Socialite Gardens, Makoni, Chitungwiza (Behind VID)</h6>
                        </div>
                    </div>
              
                </aside>
            </div>

        </div>
        <div class="justtify-content-center">
            <div class="services-details-wrap">
                <div class="services-details-content">
                    <h2 class="title">Gathering of Believers International Church</h2>
                    <p>Gathering Of Believers International Ministry, under the visionary leadership of Prophet
                        Givens Chizenga, is a dynamic and thriving ministry that relentlessly pursues its mission to
                        bring God's light to the world. Anchored in the foundational principles of soul winning,
                        preaching the Gospel, and restoring hope to God's people, this ministry has become a
                        powerful force of transformation and spiritual revival.</p>
                    <h2 class="title-two">Humble beginnings</h2>
                    <p>
                        In February 2018, Gathering Of Believers Int Ministry was born, with Cape Town as its humble
                        foundation. Led by my vision of soul-winning, preaching the Gospel to all nations, and restoring
                        hope to God's people, the Ministry began its journey. Through dynamic worship services,
                        impactful conferences, and various outreach programs, Gathering Of Believers Int Ministry
                        strives to equip believers with the tools they need to walk in victory and fulfill their
                        God-given destinies.
                    </p>


                    <div class="sd-inner-wrap sd-inner-wrap-three">
                        <div class="row align-items-center">
                            <div class="col-43">
                                <div class="industrial-working-wrap">

                                    <div class="content mb-3">
                                        <img src="assets/img/project/h5_project_img02.jpg" alt="">
                                    </div>

                                    <!-- <div class="content">
                                <img src="assets/img/project/h5_project_img01.jpg" alt="">
                            </div> -->
                                </div>
                            </div>
                            <div class="col-57">
                                <div class="content">
                                    <h3 class="title-two">Unwavering Commitment during the Pandemic
                                    </h3>
                                    <p>
                                        In the face of unprecedented challenges brought about by the Covid-19
                                        pandemic in 2019,
                                        Gathering Of Believers Int Ministry did not waver in its commitment to
                                        advancing the Kingdom
                                        of God. Despite restrictions on gatherings and lockdown measures, Prophet
                                        Givens Chizenga's
                                        unwavering dedication led him to personally visit families, going from home
                                        to home to
                                        encourage, pray for, and minister healing to the sick. With an unwavering
                                        faith in the power
                                        of God, he travelled great distances to reach every family and every
                                        individual, bringing
                                        hope and restoration in a time of great uncertainty.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="title-two">Expanding Horizons</h2>
                    <p>
                        As the years passed, Gathering Of Believers Int Ministry experienced exponential growth and
                        expansion. In the year 2023, guided by the leading of the Holy Spirit, Prophet Givens
                        Chizenga made the decision to return to his home country of Zimbabwe. The Prophet's
                        homecoming was a resounding success, and in August 2023, Gathering of Believers Zimbabwe
                        Branch was established in Harare, specifically in the Seke Chitungwiza area.
                    </p>

                    <p>
                        Since its inception, the Zimbabwe branch has experienced remarkable growth, welcoming new
                        members with open arms each service. As a testament to their commitment to the spiritual
                        well-being of individuals, Gathering of Believers Zimbabwe Branch extends an open invitation
                        to all to come and worship, experience the presence of God, and partake in the
                        transformative power of His Word.
                    </p>
                </div>
            </div>
        </div>
        <div class="industrial-working-wrap mt-4">
         
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/project/h5_project_img02.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <img src="assets/img/project/h5_project_img01.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
