/* @import '../../assets/css/swiper.min.css'; */

.fade-in-animation {
  animation: fade-in 4s linear infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-prev, .swiper-rtl .swiper-button-next{
    top: 40px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, .15);
    color: var(--gli-white-color);
}


.video-container {
    width: 70%; /* Adjust the width as needed */
  }
  
  .playlist-container {
    width: 30%; /* Adjust the width as needed */
  }
  
  .playlist {
    list-style-type: none;
    padding: 0;
  }
  
  .playlist li {
    margin-bottom: 10px;
  }
  
  .playlist a {
    display: block;
  }
  
  /* Flexbox layout */
  @media (max-width: 768px) {
    .video-container,
    .playlist-container {
      width: 100%;
    }
  
    .video-container,
    .playlist-container {
      margin-bottom: 20px;
    }
  
    .video-container {
      order: 2;
    }
    
    .playlist-container {
      order: 1;
    }
  }
  
  /* Grid layout */
  @media (min-width: 769px) {
    .video-container,
    .playlist-container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 20px;
    }
  }