<section class="about-area-eight pb-100" style="background: #140e26;">
    <div class="container"></div>
</section>

<section class="about-area about-bg" style="background: #f9f9fa;">
    <div class="container">
        <div class="row align-items-center">
            <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                <h2 class="title tg-element-title" style="color: #140e26;">Partner With Us</h2>
            </div>
            <div class="col-lg-12">
                <div class="about-content">
                    <p class="text-justify">
                        To bring Christ to the world, there are so many obstacles. God has kept raising up for us
                        partners in the gospel to make taking His Word across the globe possible through their financial
                        contributions.

                        Should you wish to partner with this Great Mission, please find our banking and contact details
                        below, and do get in touch so that I can personally show my appreciation.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container pt-60">
        <div class="row align-items-cente justify-content-center">
            <div class="col-lg-6">
                <!-- <iframe src="https://www.paypal.com/donate/?hosted_button_id=W3GUWFDWQ8UDA" frameborder="0"></iframe> -->
                <div class="blog-widget">
                    <div class="payment-details">
                        <h5 class="title"> Donate with </h5>
                        <a href="https://www.paypal.com/donate/?hosted_button_id=W3GUWFDWQ8UDA" target="_blank">
                            
                            <img src="assets/img/paybal.png" alt="">
                        </a>
                    </div>
                  
                    <hr>
                    <div class="payment-details">
                        <h5 class="title">
                            <strong> Banking Details </strong>
                        </h5>
                        <img src="assets/img/fnb.png" alt="" width="200"> <br>
                        Bank Name: FNB <br>
                        Account Number: 62891623954

                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-flex">
                <div class="about-ministry">
                    <img src="assets/img/about/gc3.jpg" alt="">
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container pt-160">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img01.jpg" alt="">
                        <div class="project-link">
                            <a href="#">
                                <img src="assets/img/icons/plus_icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img02.jpg" alt="">
                        <div class="project-link"><a href="#">
                                <img src="assets/img/icons/plus_icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</section>